/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.testLetter {
  font-size: 128px;
}
.hidden {
  display: none;
}

.padnumber {
  background-color: lightblue;
  cursor: pointer;
}

.padnumberactive {
  background-color: green;
  cursor: pointer;
}
