/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.testLetter {
  font-size: 128px;
}
.hataNum{
  font-size: 128px;
}

.hidden {
  display: none;
}

.padnumber {
  background-color: lightblue;
  cursor: pointer;
}

.padnumberactive {
  background-color: green;
  cursor: pointer;
}

.putm{
  position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top { vertical-align: top; }
.bottom { vertical-align: bottom; }

.putUL{
  position: absolute;
    	top: 10%;
    	left: 20%;

}

.putUR{
  position: absolute;
  top: 10%;
  right: 20%;

}

.putDL{
  position:absolute;
    	bottom: 10%;
    	left: 20%;
}

.putDR{
  position:absolute;
    	bottom: 10%;
    	right: 20%;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: white;
    table-layout: fixed;
    width: 80%;
    height: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
